* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 1230px;
    width: 72%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-2 {
    width: calc((100% / 12) * 2);
}